$orange: #ff8b0a;
$orangeHover: #ff7700;
$orangeDisabled: #ffae52c6;

$red: #ff5358;
$redHover: #ff4b50;
$redDisabled: #ff777b;

$grey: #cccccc;
$greyHover: #c0c0c0;
$greyDisabled: #d7d7d7;

$textPrimary: #656565;
$textSecondary: #888888;

$title: #393939;

