@import "./styles/fonts.scss";
@import "./styles/reset.scss";
@import "./styles/textField.scss";
@import "./styles/variables.scss";
@import "./styles/templates.scss";

._container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    // z-index: 2;
    // position: relative;
}
body {
    background: url("../app/images/bg.svg");
}
.wrapper {
    // background: url("../app/images/bg.svg");
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $textPrimary;
    position: relative;
    background-color: #ffffffe8;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     background-color: #fffffff4;
    //     z-index: 0;
    // }
}
._title {
    @extend %title;
}
._small-title {
    @extend %smallTitle;
}
._box {
    @extend %box;
}
.productBlock {
    margin-top: 105px;
    position: relative;
    z-index: 1;
}

.bread-crumbs {
    padding: 30px 0;
    // .bread-crumbs__link
    &__link {
        color: $textPrimary;
        &:not(:first-child) {
            &::before {
                content: "/";
                margin: 0 15px;
            }
        }
        &:not(.bread-crumbs__link_current):hover {
            text-decoration: underline;
        }
        // .bread-crumbs__link_current
        &_current {
            font-style: 16px;
            font-weight: 600;
            line-height: 22px;
            color: orange;
        }
    }
}
