@import "../../../styles/templates.scss";

.cart {
    padding-bottom: 120px;
    &__body {
        margin-top: 30px;
    }
}
.additional {
    margin-top: 55px;
    &__title {
        @extend %title;
        font-size: 30px;
    }
}

.order-price {
    margin-top: 40px;
    margin-left: auto;
    @extend %title;
    font-size: 30px;
    text-align: right;
    // .order-price__num
    &__num {
        margin: 0 0 0 10px;
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
    }
}
.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    // .cart-buttons__btn
    &__btn {
        flex: 0 1 255px;
        // .cart-buttons__btn_back
        &_back {
            @extend %greyButton;
        }
        // .cart-buttons__btn_order
        &_order {
            @extend %redButton;
        }
    }
}
