@import "../../../styles/variables.scss";
@import "../../../styles/templates.scss";

.ordering {
    margin-bottom: 120px;
    // .ordering__title
    &__title {
    }
    // .ordering__body
    &__body {
        margin-top: 40px;
        display: flex;
        column-gap: 30px;
    }
    // .ordering__form
    &__form {
        flex: 0 1 100%;
    }
    // .ordering__products
    &__products {
        // background-color: rgba(255, 166, 0, 0.47);
        flex: 0 0 345px;
    }
    // .ordering__submit
    &__submit {
        @extend %orangeButton;
        margin-top: 30px;
        max-width: 300px;
        width: 100%;
    }
}

.products-ordering {
    max-height: 350px;
    // .products-ordering__body
    &__body {
        margin-top: 10px;
    }
    // .products-ordering__bottom
    &__bottom {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        color: $title;
    }
    // .products-ordering__final
    &__final {
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
    }
    // .products-ordering__sum
    &__sum {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }
}

.product-ordering {
    display: flex;
    align-items: center;
    padding: 25px 0;
    &:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
    }
    // .product-ordering__img
    &__img {
        img {
            max-width: 80px;
        }
    }
    // .product-ordering__info
    &__info {
        margin-left: 10px;
    }
    // .product-ordering__title
    &__title {
        color: $title;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }
    // .product-ordering__counter
    &__counter {
        margin-top: 5px;
        color: $title;
    }
    // .product-ordering__price
    &__price {
        color: $title;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin-left: auto;
    }
}

// .comment-ordering
.comment-ordering {
    margin-top: 30px;
    // .comment-ordering__label
    &__label {
        font-weight: 600;
        line-height: 27px;
        color: #888888;
        padding: 0 0 5px 15px;
        display: block;
    }
    // .comment-ordering__textarea
    &__textarea {
        display: block;
        background: #ffffff;
        color: #656565;
        border: 1px solid #c8c8c8;
        border-radius: 20px;
        padding: 16px 20px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }
    // .comment-ordering__error
    &__error {
    }
}
